* {
  margin: 0;
  padding: 0;
}

.color-fuglsangso #sidebar {
  background-color: #527E2C;
}

.color-fuglsangso span {
  /* background-color: #527E2C; */
}


.color-lovbakken #sidebar {
  background-color: #C9324C;
}

.color-hundeskov #sidebar {
  background-color: #4D327D;
}

.color-frontpage #sidebar {
  background-color: #C9324C;
}

.color-frontpage span {
  background-color: #ffffff;
}



.color-frontpage{
  background-color: #C9324C;

}
.color-fuglsangso{
  background-color: #4D327D;

}
.color-hundeskov{
  background-color: #C9324C;

}
.color-lovbakken{
  background-color: #527E2C;

}
#sidebar {
  position: fixed;
  width: 300px;
  height: 100%;
  /* background-color: #C9324C; */
  left: -300px;
  transition: .4s;
  z-index: 1;
  /* Add a higher z-index to make the text overlay above the menu */

}

#sidebar ul li {
  list-style: none;
  color: #fff;
  font-size: 20px;
  padding: 26px 24px;
  margin-bottom: 1.2rem;
}

#sidebar .toggle-btn {
  position: absolute;
  top: 30px;
  left: 330px;
}

.toggle-btn span {
  width: 45px;
  height: 4px;
  background: black;
  display: block;
  margin-top: 4px;
}

#sidebar.active {
  left: 0;
}


.fuglesangso-image,
.lovbakken-image,
.hundeskov-image,
.frontpage-image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.frontpage-image {
  background-color: #303030;
  background-image: url("images/front\ page\ image.png");

}

.fuglesangso-image {
  background-image: url("images/fuglsangsø-test.jpg");

}

.lovbakken-image {
  background-image: url("images/løvbakken-final.jpg");

}

.hundeskov-image {
  background-image: url("images/hundeskov-final-image.jpg");

}

.all-pages-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 36px;

}


/* --------Links style------ */
.link-style {
  background-image: linear-gradient(to right,
      #000000,
      #000000 50%,
      #ffffff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  font-family: 'Open Sans', sans-serif;

  font-weight: 400;
  font-size: x-large
}

.link-style:before {
  content: '';
  background: #000000;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.link-style:hover {
  background-position: 0;
}

.link-style:hover::before {
  width: 100%;
}



/* ---------three section next to each other-------- */
.image-container {
  display: flex;
}

.image-box {
  position: relative;
  width: 33.33%;



}

.image-box img {
  width: 100%;
  height: 100%;

}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 18px;
}

.image-text h2 {
  font-size: 3vw;
  margin-bottom: 10px;
}

.image-text p {
  margin-top: 10px;
}

.image-text a {
  color: white;
  text-decoration: none;
}


/* <!-- ------Image Gallery-------- --> */

.gallery {
  /* margin-top: 5px; */
  background-color: #C9324C;
  display: flex;
  /* flex-wrap: wrap; */

}

.gallery-item {
  position: relative;
  width: calc(33.33% - 10px);
  margin: 5px;
}



.gallery img {
  width: 100%;
  height: 100%;
}






/* --------- fuglesangsø--------- */
.container-fuglesangso,
.container-hundeskov,
.container-lovbakken {
  display: flex;
  justify-content: space-around;
}

.container-fuglesangso {
  background-color: #4D327D;

}

.container-lovbakken {
  background-color: #527E2C;
}

.container-hundeskov {
  background-color: #C9324C;
}

.left-side {
  width: 50%;
  margin: 0%;
  padding: 0%;

}



.invisible-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 3rem;
}

.invisible-box img {
  /* width: 50%; */
  margin: 10px;
  background-color: rgb(0, 0, 0);
}

.wide-image {
  flex-basis: 100vh;
  max-width: 75%;
}

.half-image {
  flex-basis: 50%;
  max-width: 35%;
}



.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right-side h2 {
  font-family: 'Playfair Display', serif;
}

.right-side p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;


}

.describtion-1 {
  margin: 30px;
  color: white;
}

.describtion-2 {
  margin: 30px;
  color: white;

}

/* index information section */
.text-container {
  display: flex;
}

.text-box {
  position: relative;
  width: 33.33%;
  /* margin-top: 5px; */


}

.info-text h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.info-text p {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  word-spacing: 0.1rem;
  margin: 30px;
  color: #fff;
  text-align: center;
}


/* .info-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 18px;
} */

#background-1 {
  background-color: #4D327D;
}

#background-2 {
  background-color: #527E2C;
}

#background-3 {
  background-color: #C9324C;
}


/* -------Footer---- */
footer {
  margin-top: 5px;
  background-color: #C9324C;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
justify-content: space-around;}

.footer-column {
  flex: 0 0 25%;
  margin-bottom: 20px;
}

h2 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;

}

h3 {
  color: #fff;
  font-size: 16px;
  margin: 5px 0;
  font-family: 'Open Sans', sans-serif;

}

form {
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  display: block;
  width: 90%;
  margin-bottom: 5px;
  padding: 5px;
}


@media only screen and (max-width: 980px) {



  .gallery {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .gallery-item {
    flex-direction: column;
    display: flex;
    width: 70%;
  }

  .gallery img {
    width: 100%;
    height: 100%;
  }
  

  .image-container{
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .image-box{
    display: flex;
    width: 100%;
  }
  .image-text h2{
    font-size: xx-large;
  }

  .text-container{
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .text-box{
    display: flex;
    width: 100%;
  }
  



.container-fuglesangso, .container-hundeskov, .container-lovbakken{
  flex-direction: column;
  /* background-color: #000000; */

}
  .invisible-box {
    display: flex;
    width: 100%;
    margin: 50%;
    margin-bottom: 0;
  }
  
  
  .wide-image {
    max-width: 100%;
  }
  
  .half-image {
    max-width: 100%;
  }
  
  
  
  .right-side {
    width: 100%;
  }
  
  .right-side h2 {
    font-family: 'Playfair Display', serif;
  }
  
  .right-side p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 50px;
    font-weight: 400;
  
  
  }








}
@media (min-width: 768px) {
  .footer-column {
    flex: 0 0 25%;
  }
}